.tables-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.tables-buttons {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    height: 30vh;
    width: 80vw;
}

.buttons-list-ul {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.buttons-list-li button {
    width: 8rem;
    height: 6rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--button-secondary-hover-color);
    color: var(--text-color);
    cursor: pointer;
}

.buttons-list-li button:hover {
    background-color: var(--text-color-fourth);
    color: var(--text-color-secondary);
}

.buttons-list-li button.active {
    background-color: var(--button-background-color);
    color: var(--text-color-secondary);
}

.buttons-list-li button.active:hover {
    background-color: var(--button-hover-color);
}