.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-grow: 1;
}

.main-content {
    display: flex;
    flex-grow: 1;
}

.content-right {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.products-menu {
    display: flex;
    flex-direction: column;
    width: 90%;
}