.app {
    height: 720px;
    width: 1280px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-grow: 1;
}

.main-content {
    display: flex;
    height: 100vh;
}

.content-right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-right: 100px;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}