.category-products {
    overflow-y: auto; /* Habilita el scroll vertical */
}

.category-products ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px; /* Espacio entre las columnas */
    list-style: none; /* Quitar los marcadores de lista */
    padding: 1rem; /* Quitar el relleno del contenedor */
  }
  
.category-products button {
    background-color: #F2F2F2;
    border: none;
    font-size: 1rem;
    text-align: center;
    min-height: 80px;
    min-width: 100px;
    border-radius: 10px; /* Round the borders of the buttons */
    cursor: pointer; /* Cambiar el cursor al pasar sobre los botones */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agregar una sombra suave */
}
  
.category-products button:hover {
    background-color: #DCDCDC;
}
  