.category-products {
  overflow-y: auto;
  padding: 1rem;
  flex-grow: 1;
}

.category-products-list {
  width: 90%;
  display: grid;
  grid-gap: 0.625rem;
  list-style: none;
}

.category-products button {
  color: var(--text-color);
  background-color: var(--button-secondary-background-color);
  border: none;
  font-size: 1rem;
  text-align: center;
  height: 11vh;
  width: 12.5vh;
  border-radius: 0.625rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.category-products button:hover {
  background-color: var(--button-secondary-hover-color);
}