.category-products {
    overflow-y: auto;
    padding: 1rem;
    flex-grow: 1;
  }
  
  .category-products-list {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    list-style: none;
  }
  
  .category-products button {
    background-color: #F2F2F2;
    border: none;
    font-size: 1rem;
    text-align: center;
    height: 80px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .category-products button:hover {
    background-color: #DCDCDC;
  }
  