.ComplementSidebar {
    position: fixed;
    right: 0;
    width: 100px;
    height: 100%;
    clear: both;
  }

.ComplementSidebar .button-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 1em;
    padding: 0.5rem;
}

.ComplementSidebar button {
    color: white;
    background-color: #A63E26;
    border: none;
    font-size: 1rem;
    text-align: center;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ComplementSidebar button:hover {
    background-color: #c06955;
}
