.complement-sidebar {
    background: white;
    position: fixed;
    right: 0;
    width: 15%;
    height: 100%;
    clear: both;
    z-index: 10;
}

.complement-sidebar .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
    padding: 0.5rem;
}

.complement-sidebar button {
    color: white;
    background-color: #A63E26;
    border: none;
    font-size: 1rem;
    text-align: center;
    height: 11.5vh;
    width: 11.5vh;
    border-radius: 0.625rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.complement-sidebar button:hover {
    background-color: #c06955;
}