.ComplementSidebar {
    background: white;
    position: fixed;
    right: 0;
    width: 200px;
    height: 100%;
    clear: both;
    z-index: 10;
  }

.ComplementSidebar .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 0.5em;
    padding: 0.5rem;
}

.ComplementSidebar button {
    color: white;
    background-color: #A63E26;
    border: none;
    font-size: 1rem;
    text-align: center;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ComplementSidebar button:hover {
    background-color: #c06955;
}
