.footer {
    position: sticky;
    width: 90%;
    height: 400px;
    bottom: 0;
    border-top: 1px solid #a63e26;
    background-color: white;
  }
  
  .footer-button-container {
    display: grid;
    grid-gap: 0.625rem;
    list-style: none;
    padding: 1rem;
  }
  
  .footer-button-container button {
    color: white;
    background-color: #A63E26;
    border: none;
    font-size: 1rem;
    text-align: center;
    height: 11vh;
    width: 12.5vh;
    border-radius: 0.625rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .footer-button-container button:hover {
    background-color: #c06955;
  }
  