.header {
    display: flex;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to right, #8C4A32, #6C0303);
    justify-content: space-between;
}

.title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.header .logo {
    height: 4rem;
    margin-right: 1em;
}

.header h1 {
    color: white;
    font-size: 2em;
}

.clients-route-button {
    background: none;
    border: none;
    cursor: pointer;
}

.clients-icon {
    height: 2.5em;
    width: 2.5em;
    color: white;
    fill: currentColor;
}

.clients-icon:hover {
    color: #d3c4c0;
    fill: currentColor;
}

.dashboard-icon {
    height: 20em;
    width: 2em;
    color: white;
    fill: currentColor;
}

.dashboard-icon:hover {
    color: #d3c4c0;
    fill: currentColor;
}

.dashboard-route-button {
    background: none;
    border: none;
    cursor: pointer;
}

.theme-icon {
    height: 2em;
    width: 2em;
    color: white;
    fill: currentColor;
}

.theme-icon:hover {
    color: #d3c4c0;
    fill: currentColor;
}

.toggle-theme-button {
    background: none;
    border: none;
    cursor: pointer;
}