.header {
    display: flex;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #8C4A32, #6C0303);
  }

.header .logo {
    height: 100%; /* Adjust the height of the logo */
    margin-right: 1em;
}

.header h1 {
    color: white;
    padding-top: .5rem;
    font-size: 2em;
}