.menu-options {
  flex-grow: 1;
  margin-left: 300px; /* sidebar width */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Crear columnas con un ancho mínimo de 100px */
  grid-gap: 1em; /* Espacio entre los botones */
}

.menu-options button {
  background-color: #F2F2F2;
  border: none;
  text-align: center;
  height: 50px; /* Set a fixed height for the buttons */
  border-radius: 10px; /* Round the borders of the buttons */
  cursor: pointer; /* Cambiar el cursor al pasar sobre los botones */
}
