.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay h2 {
    margin-bottom: 10px;
}

.modal-content {
    color: var(--text-color);
    background: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-payment-button {
    color: white;
    background-color: #A63E26 !important;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    border-radius: 2vh;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    height: 3vh !important;
    width: 3vh !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.paymentMethod {
    width: 100%;
    min-width: 10vw;
    height: 2rem;
    padding-left: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
}

.cashPaid {
    width: 15vw;
    height: 2rem;
    padding-left: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
}

.cashPaid input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.send-payment-button {
    color: white;
    background-color: #A63E26 !important;
    background: none;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    height: 6vh !important;
    width: 7vw !important;
    margin-top: 10px;
}

.close-payment-button:hover {
    background-color: #c06955;
}

.send-payment-button:hover {
    background-color: #c06955;
}