.sidebar {
    width: 300px;
    height: 100%;
    background-color: #F2F2F2;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.sidebar h2 {
    font-style: bold;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.sidebar ul {
    list-style-type: none;
    padding-top: 1rem;
    margin: 0;
    width: 100%;
}

.sidebar li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 0 1rem 0 1rem;
}

.sidebar .total {
    border-top: 1px solid black;
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    font-weight: bold;
}