.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay h2 {
    margin-bottom: 10px;
}

.modal-client-content {
    color: var(--text-color);
    background: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 20vw;
}

.client-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close-client-form-button {
    background: none;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--accent-color);
    color: var(--text-color-secondary)
}

.client-name-input {
    width: calc(100% - 1rem);
    height: 2rem;
    padding-left: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
}

.send-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.send-client-button {
    background: none;
    background-color: var(--accent-color);
    color: var(--text-color-secondary);
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    width: 100%;
    height: 3rem;
    cursor: pointer;
    margin-top: 1rem;
}